ion-toolbar{
    --background:  #f1f5f8;

    ion-button{
        text-transform: initial;
    }

    ion-icon{
        color:  #2c53c1;
    }
}


ion-content{
    font-family: rubik;
    --background:  #f1f5f8;   


#header{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-weight: 700;
        font-size: 26px;
        color: #010100;
        margin-bottom: 15%;
    }

    img{
        width: 125px;
        height: 125px;
        border-radius: 30%;
        border: 8px solid #ffffff;
        margin-bottom: 10px;
    }    
}

#form{
    margin-top: 15px;
    padding-left: 30px;
    padding-right: 30px;


    .form-group{

        .icon{
            padding-right: 10px;
        }
    }

    .invalid-feedback{
        color: rgb(209, 61, 61);
        padding-bottom: 15px;
    }

    ion-button{
        text-transform: capitalize;
        font-weight: 500;
        font-size: 1.2rem;
        text-transform: initial;
        --border-radius: 15px;
        --box-shadow: none;
        width: 100%;
        height: 50px;
        --background: #0f53b9;
    }
}
}

.ion-margin-bottom{
        padding: 10px!important;
        padding: 100px;
        background: #ffffff;
        border-radius: 8px;
       
        ion-input{
            font-family: rubik; 
        }
}


.form-check{
    text-align: center;
    margin-top: 10px;
}

