  <ion-toolbar >
    <ion-buttons slot="start" mode="ios" >
      <ion-menu-button menu="main" >
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar mode="ios" show-clear-button="focus" animated="true" placeholder="Animated"></ion-searchbar>
  </ion-toolbar>

<ion-content>
  <div *ngFor="let file of files" class="cards">
    <ion-card>
     <ion-card-content>
      <ion-img [src]="['/assets/document.png']"></ion-img>
      <h3>{{file.name}}</h3>
     </ion-card-content>
    </ion-card>
  </div>
</ion-content>
