ion-toolbar, ion-footer, ion-item, ion-content {
    --background: #f1f5f8;
    padding: 0 10px;
    
    ion-searchbar{
        font-family: rubik;
     }
}

ion-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ion-list{
        background: #f1f5f8;
    }

    .cards{
        width: 45%;
        height: 25%;
        display: inline-flex;
        flex-direction: row;
        margin-left: 9px;
        ion-card{
            box-shadow: none;
            border-radius: 14px;
        }

        ion-img{
            width: 60%;
            margin: auto;
            align-self: center;
        }

        h3{
            font-size: 14px;
            color: black;
            font-family: rubik;
            text-align: center;
        }
    }
}