ion-toolbar, ion-footer, ion-item, ion-content {
    --background: #f1f5f8;
    padding: 0 10px;
    
}

ion-footer{
    margin-top: 10px;
    margin-bottom: 30px;
    display:inline-block;
    text-align: center;
}