*{
    font-family: poppins;
}

.menu-header{
    height: 180px;
    width: 350px;
    background-color: rgba(72, 123, 210, 0.625);
    background: linear-gradient(90deg, rgba(60, 128, 244, 0.759) 0%, rgba(45, 113, 229, 0.719) 35%, rgba(45, 113, 229, 0.747) 100%);
    box-shadow: 0px 1px 10px rgba(98,140,255, .5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px ;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;

    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px solid #5e7ccc;
        margin-right: 14px;
    }

    h2{
        font-weight: 300;
        color: #ffffff;
    }

    p{
        font-size: 12px;
        color: #e4e4e4;
        font-weight: 100;
        letter-spacing: 0.4px;
    }
}

.action-button{
    display: flex ;
    justify-content: center;
    margin-bottom:20px ;

    ion-button{
        text-transform: capitalize;
        font-weight: 300;
        --background:#5e7ccc;
        --border-radius: 15px;
        --box-shadow: none;
    }
}

.menu-items{
    margin: 0px;
    color: #69767d;

    ion-item{
        padding-left: 20px;
        margin-bottom: 10px;
        --highlight-color-focused: #5e7ccc;
    }

    .active{
        border-left: 5px solid;
        color: #5e7ccc;
        padding-left: 15px;

        ion-icon{
            color: #5e7ccc;
        }
    }
}

