  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="log" color="primary" (click)="logout()">
        <ion-icon slot="start" name="log-out"></ion-icon> 
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content>
  <ion-title>Confidenz</ion-title>
  
  <div class="confidenz">
    <img src="assets/flex/img/hero-img.png"  alt="">
  </div>
  <ion-label>
    <h2>
      Confidenz est une application qui vous permet d'avoir accès à vos données de façon confidentielle et en toute sécurité.
    </h2>
  </ion-label>
  <ion-buttons >
    <ion-button (click)="onClick()">
      <ion-icon slot="end" name="home"></ion-icon>
     <ion-text >
      <h4>Accueil</h4>
     </ion-text>
    </ion-button>
  </ion-buttons>

  <div class="ion-list">
    <ion-list lines="none" mode="ios">
      <ion-item>
        <ion-icon slot="start" name="checkmark-done-circle-outline"></ion-icon>
        <ion-text>Consultez vos documents personnels</ion-text>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="checkmark-done-circle-outline"></ion-icon>
        <ion-text>Envoyez des messages à vos collaborateurs</ion-text>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="checkmark-done-circle-outline"></ion-icon>
        <ion-text>Partagez des informations en toute sécurité</ion-text>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  Copyright <strong>Confidenz Corp</strong>. All rights reserved 2023
</ion-footer>
