
ion-toolbar, ion-footer, ion-item {
    --background: #f1f5f8;
    padding: 0 10px;
}


ion-toolbar{
    ion-button{
        ion-icon{
            color: #2c53c1 ;
        }

        #log{
            width: 40px;
            text-transform: lowercase;
            //text-transform: initial;
        } 
    }
}


ion-title{
    margin-top: 15px;
    text-decoration: none;
    letter-spacing: .5px;
    font-size: 26px;
    font-weight: 700;
    font-family: rubik;
    text-align: center;
    margin-bottom: 40px;
}


ion-content{
    --background: #f1f5f8;
    font-family: rubik;

    .confidenz{
        width: 70%;
        margin: auto;
    }

    .list{
        display: flex;
        flex-direction: row;
        justify-content:center;

        
            img{
                width: 100px;
                margin-top: 24px; 
            }
        ion-grid{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    ion-label{
       h2{
        margin-left: 25px;
        margin-right: 15px;
        text-align: center;
        margin-bottom: 30px;
        font-family: lato;
        font-style: italic;
        font-weight: 600;
        font-size: 17px;
       }

    }

    ion-button{
        text-transform: lowercase;
        height: 4.5vh;
        margin: auto;
        width: 40%;
        font-weight: 500;
        font-size: 18px;
        border-radius: 5px;
        color: #ffffff;
        text-transform: initial;
        --background: #2c54c1;
        --border-radius: 15px;
        --box-shadow: none;

        ion-icon{
            color: #ffffff;
        }

        ion-text{
            font-family: lato;
            
            h4{
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
}